/**********************
 *   about partial    *
 **********************/
@import '_variables';

/* add layer under image for hue effect */
body.about {
  background-color: grey;
  -webkit-transition: background-color 3s ease;
  transition: background-color 3s ease;
}

body.about:hover {
  background-color: $ao-blue-dark;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

/* general styles across all sections */
section h1 {
  color: $ao-the-new-black;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
}

section p {
   color: $ao-grey-dark;
   font-size: 18px;
}

section i {
  color: $ao-grey-mid;
  font-size: 14px;
}



/* splash page */
.ao-splash {
  height: 100%;
  min-height: 100%;
  //background-color: white;
  //background-color: pink;
}

#bg-splash-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  opacity: 1;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}
#bg-splash-container img {
  position: absolute;
  opacity: 0.74;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* info */
.ao-info {
  background-color: #fff;   /* can switch to transparent boarder */
}

/* given up trying to get the background image respondsive.. */

/* container to align portrait image */
.ao-portrait {
  width: 90%;
  height: 90%;
  margin: 15px 0px 30px 0px;
}

.ao-portrait img {
  /* center align */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* respond */
  max-width: 100%;
  border-radius: 50%;
  border: solid 3px $ao-blue-dark;
}

.ao-portrait img:hover {
  border: solid 3px $ao-orange-dark;
}

.ao-pc-mobile {
  width: 90%;
  height: 90%;
  margin-bottom: 15px;
}

.ao-pc-mobile img {
  /* center align */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* respond */
  max-width: 100%;
}



/* Skills */







/* Design */
.ao-design {
  background-color: white;
}

.ao-design-container {
  margin: 10px 15px 30px 15px;
}

.ao-theme-container {
  margin: 0 20px 15px 20px;
}

.ao-theme-container img {
  /* center align */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* respond */
  max-width: 100%;
  //max-height: 250px;
  border: solid 1px $ao-blue-dark;
}

.ao-theme img:hover {
  border: solid 1px $ao-orange-dark;
}

.ao-design .img-wilber {
  height: 50px;
  width: 60px;
  float: left;
}

/* Dev */


/* Build */


/* spacer */
.ao-spacer {
  background-color: transparent;
}


