/**********************
 *   about partial    *
 **********************/
@import '_variables';

/* add layer under image for hue effect */
body.about {
  background-color: grey;
  -webkit-transition: background-color 3s ease;
  transition: background-color 3s ease;
}

body.about:hover {
  background-color: $ao-blue-dark;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

/* general styles across all sections */
section h1 {
  color: $ao-the-new-black;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

section p {
   color: $ao-grey-dark;
   font-size: 18px;
}

section i {
  color: $ao-grey-mid;
  font-size: 14px;
}



/* splash page */
.ao-splash {
  height: 100%;
  min-height: 100%;
  //background-color: white;
  //background-color: pink;
}

#bg-splash-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  opacity: 1;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}
#bg-splash-container img {
  position: absolute;
  opacity: 0.74;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* info */
.ao-info {
  background-color: #fff;   /* can switch to transparent boarder */
}

/* container to align portrait image */
.ao-portrait {
  width: 90%;
  height: 90%;
  padding: 15px 0px 30px 0px;
}

.ao-portrait img {
  /* center align */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* respond */
  max-width: 100%;
  border-radius: 50%;
  border: solid 3px $ao-blue-dark;
}

.ao-portrait img:hover {
  border: solid 3px $ao-orange-dark;
}

.ao-pc-mobile {
  width: 90%;
  height: 90%;
  padding-bottom: 30px;
}

.ao-pc-mobile img {
  /* center align */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* respond */
  max-width: 100%;
  padding-top: 10px;
}

.ao-notes {
  width: 85%;
  height: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.ao-notes img {
  /* center align */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* respond */
  max-width: 100%;
}


/* Skills */
.ao-skills {
  background-color: #fff;
  padding-top: 15px;
}

.ao-skills-container {
  border-top: solid 2px $ao-grey-light;
}

.progress {
  background: #CCC;
  border: 1px solid #C3C3C3;
  border-radius: 6px;
  height: 25px;
}

.progress-bar {
  background: $ao-orange-dark;
  background: -webkit-linear-gradient(top, #ffffff 0%, $ao-orange-dark 100%);
  background: linear-gradient(to bottom, #ffffff 0%, $ao-orange-dark 100%);
}

.progress-bar p {
  color: $ao-the-new-black;
  padding-left: 25px;
  padding-top: 2px;
}

.ao-skills-container .ao-col1, .ao-skills-container .ao-col2 {
  padding-bottom: 30px;
}




/* Design */
.ao-design-headers {
  background-color: transparent;
  margin-top: 180px;
  padding-bottom: 10px;
}

.ao-design-headers h1 {
  color: #fff;
}

.ao-design {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
}

.ao-design .img-wilber {
  float: left;
  width: 80px;
  height: 70px;
}



/* iii */
.ao-iii{
  position: relative;
  background-color: white;
  -webkit-transition: background-color 3s ease;
  transition: background-color 3s ease;
  min-width: 100%;
}

.ao-iii:hover {
  background-color: $ao-blue-dark;
  -webkit-transition: background-color 4s ease;
  transition: background-color 4s ease;
}

.ao-iii img{
  max-width: 100%;
  min-width: 100%;
  opacity: 0.6;
}


/* spacer */
.ao-spacer {
  background-color: white;
}

.ao-spacer-transparent {
  background-color: transparent;
}


