/*************************
 *   contacts partial    *
 *************************/

#bg-contacts-container{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg-contacts-container img {
  position: absolute;
  opacity: 0.25;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* contacts.html page */
.container-fluid-contacts {
  background-color: $ao-the-new-black;
}

.container-fluid-contacts .ao-nav, .container-fluid-contacts .ao-nav .ao-hamburger-nav {
  background-color: transparent;
}

.ao-contacts {
  position: fixed;
  top: 40%;
  left: 20%;
  -webkit-transform: translateY(-50%), translateX(-50%);
  -moz-transform: translateY(-50%), translateX(-50%);
  -ms-transform: translateY(-50%), translateX(-50%);
  -o-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
  color: $ao-grey-light;
}

.ao-contacts p {
  margin-bottom: 30px;
  font-size: 2em;
}

.ao-contacts span {
  color: $ao-blue-dark;
  font-size: 1em;
  font-style: italic;
}

/* override Bootstrap anchor style */
.ao-contacts a {
  color: $ao-grey-light;
  -webkit-transition: color 1.5s ease;
  transition: color 2s ease;
  text-decoration: none;
}

/* header & footer list item hover */
.ao-contacts a:hover {
  color: $ao-orange-dark;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .ao-contacts p {
    font-size: 1.5em;
  }
  .ao-contacts span {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  .ao-contacts p {
    font-size: 1.2em;
  }
  .ao-contacts span {
    font-size: 0.8em;
  }

}