/* page & element effects */


/* class to hide header/menu */
.nav-up {
  top: -100px; /* same as menu height tip: use variables scss/less*/
}

/* header & footer list item hover */
.ao-nav a:hover, .ao-footer a:hover {
  /*background-color: black;  !* black white antiquewhite  *!*/
  color: #F79646;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
}