/* _navbars partial */

/* core style rules */
html, body {
  height: 100%;
}

.body {
  //font-family: $ao-font-family;  /*font-family: Georgia, "Times New Roman", Times, serif; */
}

/* ao header */   /* scroll hide/show, controlled by classes nav-up & nav-down */
.ao-nav {
  position: fixed;
  /* center the fixed element (horizontally) */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* position & dimensions */
  height: 100px;
  width: 100%;
  max-width: 1200px;
  /* style */
  background-color: #303538;
  opacity: 1;
  z-index: 999;
  -webkit-transition: top 0.8s ease;
  transition: top 0.8s ease;
  /* experimental */
  //border-radius:0 0 15px 15px;
}

/* center the nested element (within fixed nav) */
.ao-nav-center {
  margin: 0 auto;
  //width: 95%;
  //max-width: 1200px;
}

/* alternative IE9+ (replace when drop IE8 support) */
.ao-nav2 {
  position: fixed;
  /* center the element (horizontally) */
  left: 50%;
  /*width: auto;*/
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  /* position & dimensions */
  height: 100px;
  width: 90%;
  max-width: 1200px;
  /* style */
  /*background-color: lightpink; !* RWD tests *!*/
  -webkit-transition: top 0.8s ease;
  transition: top 0.8s ease;
}

.ao-nav .logo {
  float: left;
  height: 85px;
  width: 85px;
  margin-top: 8px;
}

.ao-nav .logo-text {
  position: relative;
  left: 1%;
  top: 28px;
  font-family: $ao-font-family;
  font-size: 2.2em;
  font-style: italic;
  font-weight: 700;
  color: $ao-blue-dark;
}

/* inital Logo letters */
.ao-nav .logo-text span {
  font-size: 1.3em;
}

/* nav containers (desktop) */
.ao-nav nav {
  display: inline-block;
  float: right;
  margin-top: 34px;
}

/* desktop nav list */
.ao-nav li {
  display: inline;
  margin-left: 18px;
  font-size: 1.4em;
  color: $ao-blue-dark;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
}

/* space LinkedIn & Github links */
.ao-nav li.edge {
  margin-left: 6px;
}

/* active nav item */
.ao-nav li.active {
  //border-bottom: solid 0.5px $ao-blue-dark;
  text-decoration: underline;
}

/* override Bootstrap anchor style */
.ao-nav a {
color: $ao-blue-dark;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
  text-decoration: none;
}

/* mobile nav list */
.ao-nav .ao-header-hamburger {
  display: none;
}
.ao-nav .ao-hamburger-nav {
  clear: right;
  margin-top: 20px;
  margin-right: 15px;
  width: 140px;
  border-radius: 0 0 15px 15px;
  background-color: #303538;
}

/* nav containers (mobile) */
.ao-nav .ao-hamburger-nav nav {
  display: block;
  float: right;
  margin-top: 10px;
}

.ao-nav .ao-hamburger-nav .ao-header-ul-mobile {
  padding: 0px;
}

/* mobile nav list */
.ao-nav .ao-hamburger-nav li {
  display: block;
  margin-left: 36px;
  font-size: 1.2em;
  color: $ao-blue-dark;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
}






/* class to hide header/menu */
.ao-nav.nav-up {
  top: -100px; /* same as menu height tip: use variables scss/less*/
}

.ao-nav.nav-down {
  top: 0px; /* same as menu height tip: use variables scss/less*/
}

/* header & footer list item hover */
.ao-nav a:hover, .ao-footer a:hover, .ao-nav .ao-header-hamburger li:hover {
  color: $ao-orange-dark;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
}

/* hamburger/mobile nav (show/hide) */
.ao-nav .ao-hamburger-nav.ao-hide {
  //display: none;
  opacity: 0;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}

/* Footer */
.ao-footer {
  height: 100px;
  width: 100%;
  background-color: $ao-the-new-black;
  -webkit-transition: top 0.8s ease;
  transition: top 0.8s ease;
  z-index: 999;
}

.ao-footer ul {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.ao-footer li {
  display: inline;
  margin-right: 18px;
  font-size: 1.4em;
  color: $ao-blue-dark;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
}

/* override Bootstrap anchor style */
.ao-footer a {
  color: $ao-blue-dark;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
  text-decoration: none;
}

.ao-footer p {
  color: $ao-grey-dark;
}


/* ----------------------
   responsive adjustments
   ---------------------- */

/* mobile nav */
@media screen and (max-width: 767px) {
  .ao-nav .ao-header-ul {
    display: none;
  }
  .ao-nav .ao-header-hamburger {
    display: inline-block;
  }
}
/* remove mobile nav menu */
@media screen and (min-width: 768px) {
  #mobile-nav {
    display: none;
  }
}



/* header & footer ul - font sizes */
@media screen and (max-width: 850px) {
  .ao-nav .ao-header-ul li {
    font-size: 1.2em;
  }
  .ao-nav .ao-footer-ul li {
    font-size: 1.2em;
  }
}
/* iphone/mobile */
@media screen and (max-width: 550px) {
  .ao-footer .ao-footer-ul li {
    font-size: 0.9em;
    margin-right: 0px;
    margin-left: 8px;
  }
  .ao-footer p {
    font-size:0.8em;
  }

  /* change centering classes to 95% */
  .ao-nav .logo-text {
    top: 32px;
    font-size: 1.9em;
  }
  .ao-nav .logo {
    height: 65px;
    width: 65px;
    margin-top: 16px;
  }
  .ao-nav .logo-text {
    top: 32px;
    font-size: 1.6em;
  }

}


/* widescreen - boost size */
@media screen and (min-width: 1200px) {
  .ao-nav .ao-header-ul li {
    font-size: 1.6em;
  }
  .ao-nav .ao-header-ul li {
    font-size: 1.6em;
  }
}
