/* _utils partial */

/* ao helper classes */
@import 'variables';

/* bootstrap .clearfix or... */
#ao-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* ao default style */
.ao-font-family {
  font-family: $ao-font-family !important;
}

/* full page height (spash screen) */
.ao-fill {
  height: 100%;
  min-height: 100%;
}

/* centering styles */
.ao-center-page {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.col-centered {
  margin: 0 auto;
}

.col-centered2 {
  text-align: center;
}

.col-centered3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* font sizes */
.ao-font-small {
  font-size: 0.75em;
}
.ao-font-nornal {
  font-size: 1em;
}
.ao-font-overweight {
  font-size: 1.25em;
}
.ao-font-large {
  font-size: 1.5em;
}
.ao-font-massive {
  font-size: 1.75em;
}
