/* export from theme design:	#FBCBA2	#F9B074 #F79646	- #4BACC6	#78C1D4	#A5D5E3 - #929292	#A7A7A7 - Footer/Modals #303538*/

/* fonts */
$ao-font-family: 'font-family: Georgia, "Times New Roman", Times, serif';

/* colours */
$font-stack: #FBCBA2;
$ao-blue-mid: #F9B074;
$ao-blue-dark: #F79646;

$ao-orange-light: #A5D5E3;
$ao-orange-mid: #78C1D4;
$ao-orange-dark: #4BACC6;

$ao-grey-light: #A7A7A7;
$ao-grey-dark: #929292;

$ao-the-new-black: #303538;


