/* import partials */
@import '_variables.scss';
@import '_utils.scss';
@import '_effects.scss';

/* core style rules */
html, body {
  height: 100%;
}

.body {
  font-family: $ao-font-family !important;  //font-family: Georgia, "Times New Roman", Times, serif;
}

/* ao header */
.ao-nav {
  position: fixed;
  /* center the element (horizontally) */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* position & dimensions */
  top: 0px;
  height: 100px;
  width: 95%;
  max-width: 1200px;
  /* style */
  background-color: #ffffff; /* RWD tests */
  opacity: 1;
  z-index: 999;
  -webkit-transition: top 0.8s ease;
  transition: top 0.8s ease;
}

/* alternative IE9+ (replace when drop IE8 support) */
.ao-nav2 {
  position: fixed;
  /* center the element (horizontally) */
  left: 50%;
  /*width: auto;*/
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  /* position & dimensions */
  top: 0px;
  height: 100px;
  width: 90%;
  max-width: 1200px;
  /* style */
  /*background-color: lightpink; !* RWD tests *!*/
  -webkit-transition: top 0.8s ease;
  transition: top 0.8s ease;
}

.ao-nav .logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-top: 15px;
}

.ao-nav .logo-text {
  position: relative;
  left: 1%;
  top: 34px;
  font-family: $ao-font-family;
  font-size: 2.0em;
  font-style: italic;
  font-weight: 700;
  color: #4BACC6;
}

/* inital Logo letters */
.ao-nav .logo-text span {
  font-size: 1.3em;
}

/* nav containers (desktop & mobile) */
.ao-nav nav {
  display: inline-block;
  float: right;
  margin-top: 42px;
}

/* desktop nav list */
.ao-nav li {
  display: inline;
  margin-left: 18px;
  font-size: 1.4em;
  color: #4BACC6;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
}

/* space LinkedIn & Github links */
.ao-nav li.edge {
  margin-left: 6px;
}

/* active nav item */
.ao-nav li.active {
  border-bottom: solid 0.5px #4BACC6;
}

/* override Bootstrap anchor style */
.ao-nav a {
  color: #4BACC6;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
  text-decoration: none;
}

/* mobile  nav list */
.ao-header-ul-mobile {
  display: none;
}





/* Footer */
.ao-footer {
  height: 100px;
  width: 100%;
  background-color: $ao-the-new-black;
  -webkit-transition: top 0.8s ease;
  transition: top 0.8s ease;
}

.ao-footer ul {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.ao-footer li {
  display: inline;
  margin-right: 18px;
  font-size: 1.4em;
  color: #4BACC6;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
}

/* override Bootstrap anchor style */
.ao-footer a {
  color: #4BACC6;
  -webkit-transition: color 1.5s ease;
  transition: color 1.5s ease;
  text-decoration: none;
}

.ao-footer p {
  color: $ao-grey-dark;
}






/* content */
.ao-topper {
  height: 100%;
  min-height: 100%;
  background-color: white;   /* #FBCBA2	#F9B074 #F79646 */
}

.ao-info {
  height: 100%;
  background-color: #A5D5E3;
}

.ao-tail {
  height: 100%;
  background-color: #78C1D4;
}


/*custom tablet|mobile styling */
@media screen and (max-width: 767px) {

  .ao-nav .ao-header-ul {
    display: none;
  }

  .ao-header-ul-mobile {
    display: inline-block;
  }

}


@media screen and (max-width: 850px) {
  .ao-header-ul {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 1200px) {
  .ao-header-ul {
    font-size: 1.1em;
  }
}
